@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,900;1,400&family=Poppins:wght@100;400&display=swap');
/*-----------GENERALES-------------------------*/

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    background-image: url('img/background.svg');
    background-size: 100vh;
    background-repeat: repeat-y;
    background-position-x: -125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: 100vh;
    min-height: 100vh;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

a:hover {
    color: #26b462;
}

h2 {
    color: #139e4c;
    font-size: 6em;
    font-variant: all-small-caps;
    margin: 10px 0;
    line-height: 80px;
}

h3 {
    background-color: #139e4c;
    color: white;
    width: fit-content;
    display: inline-flex;
    padding: 4px 10px 8px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    line-height: normal;
    font-variant: all-small-caps;
    font-size: 2em;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    text-wrap: pretty;
}

/*-----------HEADER----------------------------*/
header {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 20px 0;
}

#header-contain {
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    position: absolute;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    font-variant: all-small-caps;
    font-size: 1.4em;
    font-weight: 700;
    color: black;
}

#logo-mobile {
    display: none;
}


/*-----------MAIN INDEX------------------------------*/

main {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1200px;
    gap: 60px;
    margin: 70px 30px;
    min-height: 700px;
}

section {
    min-height: 55vh;
    display: flex;
}

#bienvenida {
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    gap: 30px;
    margin-left: 220px;
}

#atid-activo {
    align-items: center;
    gap: 30px;
}

#atid-activo #galeria-miniaturas {
    display: flex;
    width: 70%;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
    gap: 15px;
}

#galeria-miniaturas img {
    width: 45%;
    height: auto;
}

#atid-activo article {
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#atid-activo p {
    font-size: 2em;
    font-size: 1.5em;
}

#link-atid-activo {
    color: #26b462;
    font-weight: 700;
}

/*-----------MAIN NOSOTROS---------------------------*/

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 25px;
    max-width: 450px;
}

/*-----------MAIN CONTACTO---------------------------*/
#contacto {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    font-size: 1.5em;
    font-weight: 700;
    gap: 20px;
}

#contacto li {
    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
}

#contacto a {
    color: black;
}

#contacto a:hover {
    color: #26b462;
}

h4 {
    font-weight: 400;
    font-style: italic;
    font-size: 2em;
    letter-spacing: 3px;
}

#title-contacto {
    max-width: 580px;
}

@media screen and (max-width: 700px) {

    #atid-activo {
        flex-direction: column-reverse;
    }

    #atid-activo #galeria-miniaturas {
        width: 90%;
    }

    #galeria-miniaturas img {
        width: 48%;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    #header-contain {
        justify-content: center;
        position: relative;
    }

    #logo-desktop {
        display: none;
    }

    #logo-mobile {
        display: block;
        margin-top: 20px;
    }

    #bienvenida {
        margin-left: 0;
    }

    main {
        margin-top: 10px;
    }

}

@media screen and (max-width: 500px) {

    body {
        background-size: 130%;
        background-position-x: -280px;
    }

    #atid-activo #galeria-miniaturas {
        width: 100%;
    }

    #galeria-miniaturas img {
        width: 100%;
    }

    #title-contacto h2 {
        color: #139e4c;
        font-size: 4em;
        font-variant: all-small-caps;
        margin: 10px 0;
        line-height: 48px;
        font-weight: 900;
        margin-bottom: 30px;
    }

}