@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,900;1,400&family=Poppins:wght@100;400&display=swap');
/*-----------GENERALES-------------------------*/

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

a:hover {
    color: #139e4c;
}

h2 {
    color: #139e4c;
    font-size: 6em;
    font-variant: all-small-caps;
    margin: 10px 0;
    line-height: 80px;
}

h3 {
    background-color: #139e4c;
    color: white;
    padding: 4px 17px 11px 20px;
    border-radius: 5px;
    font-variant: all-small-caps;
    font-size: 3em;
    text-align: center;
}

h4 {
    font-variant: all-small-caps;
    color: #b3cedf;
    font-size: 6em;
    text-align: center;
}

p {
    font-size: 1.2em;
    text-wrap: pretty;
}

#whatsapp-flotante {
    position: fixed;
    bottom: 100px;
    right: 100px;
    width: 100px;
    z-index: 20;
}


/*-----------HEADER----------------------------*/
header {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 20px 0;
    z-index: 20;
    position: absolute;
}

#header-contain {
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    flex-wrap: wrap;
    gap: 50px;
}

#header-contain a {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 1.7em;
    font-variant: all-small-caps;
    font-weight: bold;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    font-variant: all-small-caps;
    font-size: 1.4em;
    font-weight: 700;
    color: black;
}

#logo-mobile {
    display: none;
}


/*-----------BIENVENIDA------------------------------*/

main {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

section {
    min-height: 50vh;
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

#bienvenida {
    justify-content: center;
    padding-top: 170px;
    background-image: url('img/background.svg');
    background-size: 20%;
    background-position: bottom;
}

#bienvenida div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 600px;
    text-align: center;
    gap: 30px;
}

/*-----------DATOS-----------------------------------*/

#relleno-fondo {
    background-image: url(img/background.svg);
    background-size: 20%;
    background-position: top;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 110px;
    z-index: 10;
}

#relleno-fondo img {
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
}

#datos {
    background-color: #e4f1eb;
    padding: 320px 50px 150px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 50px;
    box-sizing: border-box;
}

#about article {
    max-width: 900px;
    display: flex;
    gap: 80px;
    align-items: center;
}

/*-----------ORIGEN-----------------------------------*/

#origen {
    justify-content: center;
}

#origen div {
    display: flex;
    align-items: center;
    gap: 70px;
    max-width: 1200px;
    padding: 50px;
}

#origen article {
    display: grid;
    gap: 40px;
}

#origen ul {
    display: grid;
    gap: 20px;
    font-weight: 500;
    list-style: none;
    margin-left: 0; 
}

#origen li {
    font-size: 1.2em;
    display: flex;
    gap: 10px;
    align-items: center;
}

.bullet {
    width: 20px;
    height: 20px;
    background-color: #139E4C;
    flex-shrink: 0;
    border-radius: 100%;
}

#origen li:nth-child(2n) .bullet{
    background-color: #b3cedf;
}

#origen img  {
    max-width: 400px;
    width: 100%;
}

/*-----------ATID ACTIVO-----------------------------------*/

#atid-activo {
    align-items: center;
    gap: 30px;
}

#atid-activo article {
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 700px;
}

#atid-activo p {
    font-weight: 400;
}

#atid-activo a {
    font-weight: 600;
    color: black;
}

#atid-activo #galeria-miniaturas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
}

#galeria-miniaturas img {
    width: 25%;
    height: 400px;
    height: auto;
}

#link-atid-activo {
    color: #139e4c;
    font-weight: 700;
}

/*-----------ATID ACTIVO-----------------------------------*/

#nuestro-equipo {
    margin: 100px 0;
    gap: 50px;
    padding: 50px;
    box-sizing: border-box;
}

#nuestro-equipo ul {
    text-align: center;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: center;
}

#nuestro-equipo li {
    gap: 5px;
    display: flex;
    width: 313px;
    flex-direction: column;
}

#nuestro-equipo p {
    font-weight: 400;
}

#nuestro-equipo img {
    width: 100%;
}

h5 {
    font-size: 1.2em;
}

#galeria-miniaturas .foto {
    max-width: 400px;
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
}

#galeria-miniaturas .foto:nth-child(1) {
    background-image: url(img/galeria-1-thumbnail.jpg);
}
#galeria-miniaturas .foto:nth-child(2) {
    background-image: url(img/galeria-2-thumbnail.jpg);
}
#galeria-miniaturas .foto:nth-child(3) {
    background-image: url(img/galeria-3-thumbnail.jpg);
}
#galeria-miniaturas .foto:nth-child(4) {
    background-image: url(img/galeria-4-thumbnail.jpg);
}
#galeria-miniaturas .foto:nth-child(5) {
    background-image: url(img/galeria-5-thumbnail.jpg);
}
#galeria-miniaturas .foto:nth-child(6) {
    background-image: url(img/galeria-6-thumbnail.jpg);
}
#galeria-miniaturas .foto:nth-child(7) {
    background-image: url(img/galeria-7-thumbnail.jpg);
}

/*-----------CONTACTO-----------------------------------*/

#contacto {
    display: flex;
    gap: 50px;
    flex-direction: column;
    padding: 50px;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
}

#contacto span {
    color:#139e4c;
}

#contacto ul {
    display: flex;
    padding: 50px 0;
    border-top: 2px solid #139E4C;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

#contacto li {
    display: flex;
    align-items: center;
    max-width: 400px;
    gap: 10px;
}

#direccion {
    width: min-content;
    min-width: 260px;
}

@media screen and (max-width: 1000px) {
    #origen div {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 860px) {
    #bienvenida {
        padding-top: 235px;
    }

    #about article {
        gap: 50px;
    }

    #nuestro-equipo {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    #header-contain {
        justify-content: center;
    }

}

@media screen and (max-width: 600px) {
    #about article {
        gap: 20px;
        text-align: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    #header-contain p {
        width: min-content;
    }

    #nuestro-equipo img {
        height: auto;
    }

    #whatsapp-flotante {
        bottom: 5%;
        right: 5%;
        width: 70px;
    }
    
    #direccion {
        width: unset;
        min-width: unset;
    }

    #origen div {
        padding: 20px;
    }

    #datos {
        padding: 320px 20px 150px 20px;
    }

    #header-contain {
        gap: 10px;
    }
    
    p {
        font-size: 1.1em;
        padding: 0 20px;
    }

    #logo-desktop {
        height: 100px;
    }

    #bienvenida div {
        padding: 0 20px;
    }

    #relleno-fondo img {
        height: 290px;
    }

    #datos {
        padding: 190px 30px 40px;
    }

    h2,h4 {
        line-height: 60px;
    }

    footer div {
        display: grid;
        gap: 40px;
    }

    footer ul {
        justify-content: flex-start;
        text-align: left;
    }
}

@media screen and (max-width: 350px) {
    h2,h4 {
        font-size: 5em;
    }

    #header-contain a {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    nav {
        flex-wrap: wrap;
        justify-content: center;
    }

}